.content {
	width:530px;
	border:5px solid #ddd;
	margin:10px auto;
	background-color:#FFF;
	padding:20px 70px;
	border-radius:5px;
}

table.table-ellipsis {
  table-layout: fixed;
}
.table-ellipsis td  {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}



